@font-face {
    font-family: 'RetroSignature';
    src: url('https://assets.cinelove.me/fonts/webfonts/retrosignature/retrosignature.woff2') format('woff2'), url('https://assets.cinelove.me/fonts/webfonts/retrosignature/retrosignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}